
.navbar-brand {
  padding: 0px;
  height: 80px;
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  height:100%;
  padding: 15px;
  width: 120px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav >li >a:hover {
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: underline;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}