#header
{
    background-color:#071587;
    border:0;
    min-width:1080px;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    }

.ProjectTitle {
    padding-top:10px;
    font-weight:bold;
    font-size:2em;
    color:white;
    vertical-align:bottom;
}

#logo1
{
    float:left;height:80px;min-width:140px;
    width:19%;
    background-color:white;
    background:url("http://vlvsweb.mt.na.emersonprocess.com/images/corplogo.gif") center no-repeat;
    border:none;

    }
#logo2
{
float:right;height:80px;min-width:150px; border:0;
width:18%;
background:url("http://vlvsweb.mt.na.emersonprocess.com/images/fisher3.gif") center no-repeat;
    }